body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-control:focus {
    border-color: #4e9fd1;
    box-shadow: 0 0 0 0.25rem rgba(78, 159, 209, 0.5);
}

.btn-custom {
    background-color: #4e9fd1;
    color: white;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s;
}

.btn-custom:hover {
    background-color: #3578a3;
}

.btn-custom:focus {
    outline: none;
}